<div id="mango-bites-survey">
    <style>
    .animated {
        transition: all 500ms ease-in-out;
    }

    .screen {
        height: 0;
        opacity: 0;
        overflow: hidden;
        max-width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .screen-visible {
        height: auto;
        opacity: 1;
        overflow: initial;
    }
    .mangos{
        position: relative;
    }

    /*Animations: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations*/
    p {
        animation-duration: 2.75s;
        animation-name: slidein;
        animation-iteration-count: 1;
    }
    @keyframes slidein {
        from {
            margin-left: 100%;
            width: 300%;
        }

        to {
            margin-left: 0%;
            width: 100%;
        }
    }
    </style>

    <div class="screen animated">
        <h2 class="centered" style="text-transform: none; font-size: xx-large; margin-left: 10%; margin-right: 10%; margin-top: 20px; margin-bottom: 20px;">
            Touch the mango to take a bite!
        </h2>
    </div>

    <div class="mangos">
        <img
            src="{{root}}/static/mango.svg"
            id = "mango"
            alt="mango svg"
            class= "centered-mangos" 
            height="170px"
            width="180px"
            style="width: 100%; display: block;"/>
    </div>

    <div class="fun-fact">
        <h2 class="centered">
            <p id="fun-fact" style="font-size: x-large; margin-left: 3%; margin-right: 3%; text-align: left;"> </p>
            <span id="fun-fact" style="font-size: large; margin-left: 3%; margin-right: 3%; text-align: left;"></span>
        </h2> 
    </div>

    <div class="footer">
        <h2 class="centered" style="text-transform: none; font-size: medium; margin-left: 10%; margin-right: 10%; margin-top: 10px; margin-bottom: 10px;">
            Bite-sized financial fun fact brought to you by Mango X :).
        </h2>
    </div>

    <script async>
        (async function () {
            const rootElement = document.currentScript.parentElement;
            let screenIdx = 0;
            const screens = [].slice.call(rootElement.querySelectorAll('div.screen'), 0, -1);
            rootElement.querySelector('div.screen:first-of-type').classList.add('screen-visible'); 

            // MAKE MANGO TAKE A RANDOM BITE FROM ALL MANGO SVGS THEN GO BACK ON CLICK 
            let arr = ['mango-bite-1','mango-bite-2','mango-bite-3','mango-bite-4','mango-bite-5','mango-bite-6','mango-bite-7','mango-bite-8'];
            
            $('img#mango').click(function(){
                var n = Math.floor(Math.random() * arr.length)
                rnd_img = './static/mango_bite' + (n+1) + '.svg';
                $('img#mango').attr('src', rnd_img);
            
                // GET RANDOM MANGO BITE FUN FACT FROM DATA.JSON  
                fetch('{{root}}/static/data3.json')
                .then(response => {
                return response.json();
                })
                .then(data3 => {
                    console.log(data3);
                    const randomFact = data3[Math.floor(Math.random() * data3.length)];
                    console.log(randomFact['fact']);
                    rootElement.querySelector('#fun-fact').innerText = randomFact['fact'];
                });

                setTimeout(function() {
                    $('img#mango').attr('src', './static/mango.svg');
                }, 500);
                });

        })();

    </script>

</div>